* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-image: url("/img/2.jpg");
    /* The image used */
    background-color: lightcoral;
    /* Used if the image is unavailable */
    height: 100vh;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}
@media only screen and (max-width:500px){
    .navbar{
        display: flex;
        justify-content: space-evenly

    }
}